@import "tailwindcss";



@font-face {
  font-family: Dana;
  src: url("./../public/Fonts/Dana/woff2/DanaFaNum-Medium.woff2");
}

@font-face {
  font-family: Dana-Bold;
  src: url("./../public/Fonts/Dana/woff2/DanaFaNum-DemiBold.woff2");
}

@font-face {
  font-family: Morabba;
  src: url("./../public/Fonts/Morabba/woff2/Morabba-Medium.woff2");
}


@font-face {
  font-family: Morabba-Bold;
  src: url("./../public/Fonts/Morabba/woff2/Morabba-Bold.woff2");
}

.transition-md{
  transition: all 0.4s ease;
}


@theme{
    --text-md : 15px ;
    --breakpoint-x : 400px;
    --breakpoint-xs : 468px;
    --breakpoint-md : 548px;
    --breakpoint-mmd : 768px;
    --breakpoint-s : 200px;
    --text-x : 10px;
    --font-Dana : Dana;
    --font-Dana-Bold : Dana-Bold;
    --font-Morabba : Morabba;
    --font-Morabba-Bold : Morabba-Bold;

    --color-primary : #F9FAFB;
    --color-primary-2 : #EBEDF0;
    --color-secondry : #FF00A6;
    --color-secondary-2 : rgb(255, 237, 237);
    --color-secondary-3 : rgb(189, 0, 3);
    --color-item : rgba(19, 20, 31, 0.08)
    
}

body{
  font-family: "Dana";
  box-sizing: border-box;
}

.container-custom{
  max-width: 93%;
  margin: 0 auto;

}


.loader {
    width: 48px;
    height: 48px;
    border: 5px solid rgb(189, 0, 3);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 