@import "tailwindcss";


@font-face {
  font-family: Dana;
  src: url("./../public/Fonts/Dana/woff2/DanaFaNum-Medium.woff2");
}

@font-face {
  font-family: Dana-Bold;
  src: url("./../public/Fonts/Dana/woff2/DanaFaNum-DemiBold.woff2");
}

@font-face {
  font-family: Morabba;
  src: url("./../public/Fonts/Morabba/woff2/Morabba-Medium.woff2");
}


@font-face {
  font-family: Morabba-Bold;
  src: url("./../public/Fonts/Morabba/woff2/Morabba-Bold.woff2");
}

.transition-md{
  transition: all 0.4s ease;
}


@theme{
    --text-md : 15px ;
    --breakpoint-x : 400px;
    --breakpoint-xs : 468px;
    --breakpoint-md : 548px;
    --breakpoint-mmd : 768px;
    --breakpoint-s : 200px;
    --text-x : 10px;
    --font-Dana : Dana;
    --font-Dana-Bold : Dana-Bold;
    --font-Morabba : Morabba;
    --font-Morabba-Bold : Morabba-Bold;
}

body{
  font-family: "Dana";
}